* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

.container {
	background-color: rgb(221, 141, 141);
	max-width: 768px;
	min-height: 100vh;
	margin: 0 auto;

	display: flex;
}

nav {
	background-color: rgb(79, 104, 104);
	color: white;
	flex-basis: 120px;
}

.box-container {
	background-color: bisque;
	flex-grow: 1;

	display: flex;
	flex-wrap: wrap;
}

.box {
	background-color: blanchedalmond;
	border: 3px solid orangered;
	border-radius: 10px;

	min-height: 150px;
	flex-grow: 1;
	flex-basis: 50%;
}

.box:nth-child(even) {
	border-color: rgb(44, 44, 134);
}

footer {
	background-color: rgb(130, 172, 130);
	border: 3px solid green;
	min-height: 50px;
	flex-basis: 100%;
}

@media screen and (max-width: 768px) {
	.container {
		flex-direction: column;
	}
}

@media screen and (max-width: 480px) {
	.box-container {
		flex-direction: column;
	}

	/* .box {
		flex-basis: 100%;
	} */
}
